<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--首先配置全局属性-->
    <!--<settings>
        &lt;!&ndash;开启自动填充主键功能，原理是通过jdbc的一个方法getGeneratekeys获取自增主键值&ndash;&gt;
        <setting name="useGeneratedKeys" value="true"/>
        &lt;!&ndash;使用别名替换列名，默认就是开启的&ndash;&gt;
        <setting name="useColumnLabel" value="true"/>
        &lt;!&ndash;开启驼峰命名的转换&ndash;&gt;
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>-->

    <!--分页设置拦截器-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

</configuration>